.slide-up-enter-active[data-v-81e2b115],.slide-up-leave-active[data-v-81e2b115]{transition:all .3s ease}.slide-up-enter-from[data-v-81e2b115],.slide-up-leave-to[data-v-81e2b115]{transform:translate(-50%,100px);opacity:0}
